github "Alamofire/Alamofire"                ~> 4.0
github "sleroux/Deferred"                   "Swift3.0"
github "jrendel/SwiftKeychainWrapper"       "3.0.1"
github "DaveWoodCom/XCGLogger"              "Version_4.0.0"
github "SwiftyJSON/SwiftyJSON"              "3.1.4"
